/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
}
/* General Demo Style */
body{
	background: #F0EFED;
    /*background:#f9f9f9 url(images/stucco.png) repeat top left;*/
	color: #333;
	font-family: 'Oswald', Arial, sans-serif;
	font-size: 13px;
}
.container{
	position:relative;
}
a{
	color: #fff;
	text-decoration: none;
}

.content{
	position:relative;
    width:680px;
    margin: 0 auto;
	height : 100px
}

.buttonDiv{
	width:500px;	
    padding: 170px 0 0 550px;
	height: 80px;
}

.arrow
{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.background
{
    background: #4863A0; /* Old browsers */
	background: -moz-linear-gradient(top, #4863A0 0%, #4863A0 50%, #4863A0 51%, #4863A0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4863A0), color-stop(50%,#4863A0), color-stop(51%,#4863A0), color-stop(100%,#4863A0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4863A0 0%,#4863A0 50%,#4863A0 51%,#4863A0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4863A0 0%,#4863A0 50%,#4863A0 51%,#4863A0 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #4863A0 0%,#4863A0 50%,#4863A0 51%,#4863A0 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4863A0', endColorstr='#4863A0',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #4863A0 0%,#4863A0 50%,#4863A0 51%,#4863A0 100%); /* W3C */
}

#footer {
   position:absolute;
   bottom:0px;
   width:100%;
   height:30px;   /* Height of the footer */
   color: #fff;
   background:#4863A0;
}

#footer a:link {
    color: #0000A0; 
    text-decoration: underline
}
footer a:hover {
    color: #0000A0; 
}



/* Sign up form*/
.sprited {
    background: url(images/download_sprite.png) no-repeat;
    line-height: 1000px;
    overflow: hidden;
    display: block;
}
#text_what { width: 120px; height: 19px; background-position: -202px -175px;}
#text_features { width: 94px; height: 17px; background-position: -202px -216px;}
#text_demonstration { width: 167px; height: 20px; background-position: -202px -195px;}
#text_options { width: 86px; height: 25px; background-position: -431px -133px;}

h2 { margin-top: 50px;}

#sign_up {
    -moz-border-radius: 6px;
    background: #eef2f7;
    -webkit-border-radius: 6px;
    border: 1px solid #536376;
    -webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
    -moz-box-shadow:  rgba(0,0,0,.6) 0px 2px 12px;;
    padding: 14px 22px;
    width: 400px;
    position: relative;
    display: none;
}
#sign_up #sign_up_form {
    margin-top: 13px;
}
#sign_up label {
    display: block;
    margin-bottom: 10px; 
    color: #536376;
    font-size: .9em;
}

#sign_up label input {
    display: block;
    width: 377px;
    height: 30px;
    background-position: -201px 0;
    padding: 2px 8px;
    font-size: 1.2em;
    line-height: 31px;
}

#see_id {
    width: 228px;
    height: 23px;
    background-position: -202px -133px;
}
#left_out {
    background-position: -202px -158px;
    width: 113px; height: 16px;
}
#sign_up_form {
    position: relative;
    background: url(divider.png) repeat-x bottom left;
    padding-bottom: 54px;
    margin-bottom: 12px;
}
#actions {
    float: left;
    position: absolute;
    right: 0;
    height: 31px;
    bottom: 20px;
}
a.form_button {
    float: left;
    width: 93px; height: 31px;
    margin-right: 15px;
}
#cancel { background-position: -198px -36px; }
#log_in { background-position: -291px -36px; }
#cancel:hover { background-position: -198px -67px; }
#cancel:active { background-position: -198px -98px; }
#log_in:hover { background-position: -291px -67px; }
#log_in:active { background-position: -291px -98px; }
#close_x { 
    width: 24px; height: 23px;
    overflow: hidden; line-height: 1000px;
    display: block;
    position: absolute; top: 5px; right: 5px;
    background-position: -387px -102px;
}
#usage { background-position: -323px -172px; width: 67px; height: 22px;}